@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fbec5d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cd5c5c;
    height: 150px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}

.receita{
    height: 600px;
    width: 400px;
    background-color: #cd5c5c;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
}

h2{
    color: white;
}